@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.sec-title .icon,
.sec-title .title,
.main-header .outer-box .phone-box .box-inner .phone,
.main-header .header-top .info-list li .icon,
.main-header .header-top .info-list li a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > a:before,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li > a:before,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.vision-block .block-inner h4 a:hover,
.specialist-block .inner-box h6 a:hover,
.timing-section .choose-column .title,
.choose-list li:before,
.privacy-section .date,
.social-icon-one li a:hover,
.team-block .inner-box h4 a span,
.team-block .inner-box h4 a:hover,
.fact-counter .column .inner .icon,
.testimonial-block .inner-box .designation,
.main-footer .footer-list li a:hover,
.page-breadcrumb li a:hover,
.video-section .video-box,
.list-style-three li a:hover,
.list-style-three li .icon,
.about-section .content-column .ceo,
.news-widget-block .widget-inner h6 a:hover,
.news-block .inner-box .lower-content h4 a:hover,
.team-block .inner-box .team-contact-list li a:hover,
.main-footer .contact-list li .icon,
.testimonial-block-two .inner-box .quote,
.doctor-detail-section .info-column .info-box .designation,
.shop-section .items-sorting .results-column h4,
.testimonial-block-two .inner-box .author-info .info-inner .rating,
.service-block .inner-box .overlay-box h5 a:hover,
.price-block .inner-box .upper-box .price,
.styled-pagination li.prev a:hover,
.styled-pagination li.next a:hover,
.sidebar .related-posts .post a:hover,
.shop-item .inner-box:hover .lower-content h6 a,
.shop-item .inner-box .lower-content .rating .fa,
.sidebar .related-posts .post .rating .fa,
.product-details .basic-details .expired,
.shop-comment-form .rating-box .rating a:hover,
.cart-table tbody tr .sub-total,
.cart-table tbody tr .remove-btn:hover,
.checkout-page .default-links li a,
.checkout-page .check-box label,
.popular-posts .post:hover h6 a,
.blog-single .post-share-options .tags a,
.blog-single .inner-box .lower-content .title,
.blog-single .post-share-options .info-links li a,
.comment-form .rating-box .rating a:hover,
.blog-single .inner-box .lower-content .text blockquote .quote-info .quote-desination,
.news-block-two .inner-box .lower-content .read-more:hover,
.categories-blog ul li.active a, .categories-blog ul li a:hover,
.news-block-two .inner-box .lower-content h4 a:hover,
.contact-info-section .info-column .social-box a:hover,
.product-details .basic-details .details-header .rating,
.blog-cat-three li a:hover:before, .blog-cat-three li a:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.sidebar-page-container .comments-area .comment .comment-inner .rating .fa,
.shop-item .inner-box .image-box .overlay-box .cart-option li a:hover{
	color:goldenrod;
}

/* Background Color */

.btn-style-two,
.btn-style-one,
.clock-hour,
.clock-minute,
.clock-second,
.error-section .inner-section,
.main-footer .footer-bottom,
.range-slider-one .theme-btn,
.banner-section .owl-nav .owl-prev,
.banner-section .owl-nav .owl-next,
.main-header .outer-box .phone-box .box-inner .phone:hover,
.main-header .outer-box .phone-box .box-inner .phone .icon,
.banner-section .owl-dots .owl-dot.active,
.banner-section .owl-dots .owl-dot:hover,
.service-block .inner-box .image .icon,
.timing-section .timing-column .inner-column,
.team-block .inner-box .image,
.team-block .inner-box .circle-box,
.service-block .inner-box .overlay-box .icon-two,
.team-section .owl-nav .owl-prev:hover,
.team-section .owl-nav .owl-next:hover,
.testimonial-block .inner-box .author-image .quote-icon,
.testimonial-section .owl-dots .owl-dot.active,
.testimonial-section .owl-dots .owl-dot:hover,
.accordion-box .block .acc-btn.active,
.news-block .inner-box .image .category,
.news-block .inner-box .image a:before,
.news-block .inner-box .lower-content .read-more,
.main-footer .logo-widget .social-icons li a:hover,
.main-header .search-box-btn:hover,
.price-block .inner-box .appointment,
.styled-pagination li.next a:hover,
.styled-pagination li.prev a:hover,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.sidebar .popular-tags a:hover,
.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button,
.click-indicator div:nth-child(3),
.click-indicator div:nth-child(6),
.click-indicator div:nth-child(9),
.click-indicator div:nth-child(12),
.click-indicator div:nth-child(15),
.privacy-section .privacy-list li:before,
.cart-table tbody .available-info .icon,
.cart-section .coupon-outer .cart-btn:hover,
.services-detail-box .content-column .icon-box .icon,
.treatment-section .treatment-tabs .tab-btns .tab-btn:hover,
.treatment-section .treatment-tabs .tab-btns .tab-btn.active-btn,
.main-footer .footer-widget .footer-title .separator:after,
.hospital-info-tabs .hospital-tabs .tab-btns .tab-btn:hover,
.help-section-two .search-box .form-group button,
.shipping-form .form-group .total-btn:hover,
.hospital-info-tabs .hospital-tabs .tab-btns .tab-btn.active-btn,
.hospital-info-tabs .hospital-tabs .tabs-content .more-btn:hover{
	background-color:black;
}

.shop-item .inner-box .image-box .overlay-box,
.doctor-block .inner-box:hover .image .overlay-box{
	background-color:rgba(5,148,255,0.80);
}

/* Border Color */

.sidebar .popular-tags a:hover,
.range-slider-one .theme-btn,
.team-section .owl-nav .owl-prev:hover,
.team-section .owl-nav .owl-next:hover,
.service-block .inner-box .overlay-box,
.cart-table tbody tr .remove-btn:hover,
.vision-block .block-inner .vision-image,
.specialist-block .inner-box:hover .icon-box,
.contact-info-section .info-column .inner-column,
.main-footer .logo-widget .social-icons li a:hover,
.main-header .outer-box .phone-box .box-inner .phone,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shipping-form .form-group input:focus,
.checkout-page .default-links li,
.shipping-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.styled-form input:focus,
.styled-form select:focus,
.styled-form textarea:focus,
.rtl .contact-info-section .info-column .inner-column
.contact-info-section .info-column .inner-column,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus{
	border-color:#001a71;
}

.back-to-top::after{
	border-bottom-color:#0594ff;
}